body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 1600px;
}

header{
    background-color: #F5F5F5;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#part1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#part2{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bouton{
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.bouton:hover{
    background-color: #cccccccc;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


img{
    margin: 10px;
}


.bouton-font{
    font-family: 'Noto Sans';
    color: #111111;
    font-size: 20px;
    
}

p{
    font-family: 'Noto Sans';
    color: #111111;
}

section{
    height: 85%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Noto Sans';
    color: #111111;
    font-size: 50px;
    margin-left: 40px; 
}

hr{
    width: 80%;
    height: 2px;
    border: 0px;
    background-color: #111111;
}

#choose{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 30%;
    margin-top: 40px;
}

.block{
    background-color: #CC0008;
    width: 30%;
    height: 100%;
    text-decoration: none;
}

.block:hover{
    box-shadow: 10px 10px 5px #888888;
}

#img1{
    background-image: url("../img/6.webp");
    width: 95%;
    height: 75%;
    margin: 10px;
}

#img2{
    background-image: url("../img/7.webp");
    width: 95%;
    height: 75%;
    margin: 10px;
}

#img3{
    background-image: url("../img/8.webp");
    width: 95%;
    height: 75%;
    margin: 10px;
}

h2{
    font-family: 'Noto Sans';
    text-align: center;
    color: white;
    text-decoration: none;
}

.block2{
    background-color: #007CC1;
    height: 25%;
    text-decoration: none;
    margin-top: 50px;
}

.block2:hover{
    box-shadow: 10px 10px 5px #888888;
}

footer{
    background-color: #F5F5F5;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 90%;
    height: 90%;
}

td{
    text-align: center;
}

.lienResaux{
    color: #111111;
    font-size: larger;
    font-family: 'Noto Sans';
    text-decoration: none;
}

th{
    color: #111111;
    font-family: 'Noto Sans';
    text-align: center;
    text-decoration: none;
}

#hautpage{
    color: #111111;
    font-size:smaller;
    font-family: 'Noto Sans';
    text-decoration: none;
    text-align: center;
    width: 100%;
}